
<div class="container">
  <h1>User Detail Component</h1>
  <h1>Username with Subject</h1>
  <p>
    User name is {{userName}}
  </p>
  <p>
    <input type="text" [(ngModel)]="userName">
    <button type="submit" (click)="changeUserName()">Change name</button>
  </p>
  <h1>Username without Subject</h1>
  <p>
    User name is {{userNameRegular}}
  </p>
  <p>
    <input type="text" [(ngModel)]="userNameRegular">
    <button type="submit" (click)="changeUserNameRegular()">Change name</button>
  </p>
</div>